<!-- book-details.component.html -->
<div *ngIf="book" class="container">
  <img *ngIf="book.imageUrl" [src]="'http://localhost:3000/' + book.imageUrl" class="img-fluid mt-2" style="width: 150px;">
  <h2>{{ book.title }}</h2>
  <p><strong>Author:</strong> {{ book.author }}</p>
  <p><strong>Description:</strong> {{ book.description }}</p>
  <p><strong>Price:</strong> ${{ book.price }}</p>
  <!-- Add any additional details you want to display -->
  <button *ngIf="this.userId == book.owner" class="btn btn-primary mr-2"
    (click)="editBook(book)">Edit</button>
  <button *ngIf="this.userId == book.owner" class="btn btn-danger mr-2"
    (click)="deleteBook(book)">Delete</button>
    {{ logBook(book) }}
</div>