.chat-messages {
    overflow-y: auto;
    max-height: 80vh;
}

.message {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    max-width: auto;
    
}

.own-message {
    background-color: rgb(230, 230, 230);
    align-self: flex-start;
}

.other-message {
    background-color: rgb(181, 239, 181);
    align-self: flex-end ;
}

.send-message-container {
    margin-top: 20px;
}

.send-message-container input[type="text"] {
    width: calc(100% - 80px);
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.send-message-container button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.send-message-container button:hover {
    background-color: #0056b3;
}
