<div class="chat-container">
    <div class="chat-messages">
        <div class="message" *ngFor="let message of messages" [ngClass]="{'own-message': message.sender === authService.getUserId() , 'other-message': message.sender !== authService.getUserId()}">
            <div><strong>From:</strong> {{ message.senderUsername }}</div>
            <div><strong>To:</strong> {{ message.receiverUsername }}</div>
            <div>{{ message.message }}</div>
            <div><small>{{ message.date | date: 'medium' }}</small></div>
        </div>
    </div>
    <div class="send-message-container">
        <input type="text" [(ngModel)]="newMessage" placeholder="Type a message...">
        <button (click)="sendMessage()">Send</button>
    </div>
</div>
