# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/my-angular-project/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/my-angular-project/.idea/
/my-angular-project/.project
/my-angular-project/.classpath
/my-angular-project/.c9/
/my-angular-project/*.launch
/my-angular-project/.settings/
/my-angular-project/*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/my-angular-project/.angular/cache
.sass-cache/
/my-angular-project/connect.lock
/my-angular-project/coverage
/my-angular-project/libpeerconnection.log
/my-angular-projecttestem.log
/my-angular-project/typings

# System files
.DS_Store
Thumbs.db
